<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Signing</title>
    <script src="https://js-d.docusign.com/bundle.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
      html, body {
        padding: 0;
        margin: 0;
        font: 13px Helvetica, Arial, sans-serif;
      }
      #docusignContainer {
        height: 100vh;
        width: 100vw;
      }
      /* container styles */
      .hide {display: none;}
    </style>
    <script type="module">
      (async () => {
        const signingUrl = "{{DOCUSIGN_URL}}"; 
        const clientId = "{{CLIENT_ID}}";
        const envelopeId = "{{ENVELOPE_ID}}"

        const signingConfiguration = {
          url: signingUrl,
          displayFormat: 'focused',
          style: {
            branding: {
              primaryButton: {
                backgroundColor: '#FFC600',
                color: 'black'
              }
            },
            signingNavigationButton: {
              finishText: 'Assinar',
              position: 'bottom-center'
            }
          }
        };
        try {
          const docusign = await window.DocuSign.loadDocuSign(clientId);
          const signing = docusign.signing(signingConfiguration);
          /** Event handlers **/
          signing.on('ready', (event) => {
            console.log('UI is rendered');
          });
          signing.on('sessionEnd', (event) => {
            console.log('sessionEnd', event);
            window.ReactNativeWebView.postMessage(JSON.stringify({status: "SessionEnd", data: event}));
          });
          $(`#main`).addClass("hide");
          $(`#signing-ceremony`).removeClass("hide");
          signing.mount(`#docusignContainer`);
        } catch (error) {
          console.log("### Error calling docusign.js");
          console.log(error);
          window.ReactNativeWebView.postMessage(JSON.stringify({status: "Error", data: error}));
        }
      })();
    </script>
  </head>
  <body>
    <div id="main">
      <!-- Conteúdo principal -->
    </div>
    <div id="signing-ceremony" class="hide">
      <div class="docusign-agreement-container" id="docusignContainer"></div>
    </div>
  </body>
</html>