<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Signing</title>
    <script src="https://js-d.docusign.com/bundle.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
      html, body {
        padding: 0;
        margin: 0;
        font: 13px Helvetica, Arial, sans-serif;
      }
      #docusignContainer {
        height: 100vh;
        width: 100vw;
      }
      /* container styles */
      .hide {display: none;}
    </style>
    <script type="module">
      (async () => {
        const signingUrl = "{{DOCUSIGN_URL}}"; 
        const apiUrl = "{{API_URL}}";
        const accessToken = "{{ACCESS_TOKEN}}";

        const signingConfiguration = {
          url: signingUrl,
          displayFormat: 'focused',
          autoNavigate: true,
          style: {
            branding: {
              primaryButton: {
                backgroundColor: '#FFC600',
                color: 'black'
              }
            },
            signingNavigationButton: {
              finishText: 'Assinar',
              position: 'bottom-center'
            }
          }
        };
        try {
          const docusign = await window.DocuSign.loadDocuSign("f4d2979d-8f93-404e-997b-241c7ed17d86");
          const signing = docusign.signing(signingConfiguration);
          window.addEventListener('message', async function(event) {
            // Verificar se a origem é de um domínio do DocuSign
            window.ReactNativeWebView.postMessage(JSON.stringify({status: event.data}))
            if (event.origin.includes('docusign')) {
              console.log('Mensagem recebida do DocuSign:', event.data);
              if (event.data && event.data.eventType === 'fullScreenActivityStarted') {
                console.log('Atividade em tela cheia encerrada - possível conclusão');
                const response = await fetch(apiUrl, {
                  method: 'GET',
                  headers: {
                    "Authorization": `Bearer ${accessToken}`,
                    "Content-Type": "application/json",
                  }
                })
                const data = await response.json();
                const status = data.status;
                window.ReactNativeWebView.postMessage(JSON.stringify({status: "status", data: status}));
                if (status === 'completed') { 
                  window.ReactNativeWebView.postMessage(JSON.stringify({status: "signing-completed", data: status}));
                } else {
                  // Assinatura não concluída
                  window.ReactNativeWebView.postMessage(JSON.stringify({status: "signing-failed", data: status}));
                }
              }
            }
          }, false);

          /** Event handlers **/
          signing.on('ready', (event) => {
            console.log('UI is rendered');
            window.ReactNativeWebView.postMessage(JSON.stringify({status: "Ready", data: event}));
          });
          signing.on('sessionEnd', (event) => {
            console.log('sessionEnd', event);
            window.ReactNativeWebView.postMessage(JSON.stringify({status: "SessionEnd", data: event}));
          });
          // Open the signing ceremony
          $(`#main`).addClass("hide"); // JQuery to hide content
          $(`#signing-ceremony`).removeClass("hide"); // Display the container
          signing.mount(`#docusignContainer`);
        } catch (error) {
          // Any configuration or API limits will be caught here
          console.log("### Error calling docusign.js");
          console.log(error);
          window.ReactNativeWebView.postMessage(JSON.stringify({status: "Error", data: error}));
        }
      })();
    </script>
  </head>
  <body>
    <div id="main">
      <!-- Conteúdo principal -->
    </div>
    <div id="signing-ceremony" class="hide">
      <div class="docusign-agreement-container" id="docusignContainer"></div>
    </div>
  </body>
</html>