<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Signing</title>
    <script src="https://js-d.docusign.com/bundle.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
      html, body {
        padding: 0;
        margin: 0;
        font: 13px Helvetica, Arial, sans-serif;
      }
      #docusignContainer {
        height: 100vh;
        width: 100vw;
      }
      /* container styles */
      .hide {display: none;}
    </style>
    <script type="module">
      (async () => {
        const signingUrl = "{{DOCUSIGN_URL}}"; 
        const apiUrl = "{{API_URL}}";
        const clientId = "{{CLIENT_ID}}";
        let signingProcess = false;

        const signingConfiguration = {
          url: signingUrl,
          displayFormat: 'focused',
          autoNavigate: true,
          style: {
            branding: {
              primaryButton: {
                backgroundColor: '#FFC600',
                color: 'black'
              }
            },
            signingNavigationButton: {
              finishText: 'Assinar',
              position: 'bottom-center'
            }
          }
        };
        try {
          const docusign = await window.DocuSign.loadDocuSign(clientId);
          const signing = docusign.signing(signingConfiguration);
          window.addEventListener('message', async function(event) {
            window.ReactNativeWebView.postMessage(JSON.stringify({status: "message", data: signingProcess}));
            window.ReactNativeWebView.postMessage(JSON.stringify({status: "message", data: event.data.eventType}));
              if (signingProcess && event.data.eventType === 'fullScreenActivityStarted') {
                window.ReactNativeWebView.postMessage(JSON.stringify({status: "fetch iniciado", data: signingProcess}));

                const response = await fetch(apiUrl).catch((error) =>  window.ReactNativeWebView.postMessage(JSON.stringify({status: "catch do fetch", error})));
                window.ReactNativeWebView.postMessage(JSON.stringify({status: "depois do fetch"}));
                if (!response.ok) {
                  throw new Error(`HTTP error! status: ${response.status}`);
                }

                const data = await response.json();

                const status = data.status;
                window.ReactNativeWebView.postMessage(JSON.stringify({status: "status", data: status}));
                if (status === 'completed') { 
                  window.ReactNativeWebView.postMessage(JSON.stringify({status: "signing-completed"}));
                } else {
                  window.ReactNativeWebView.postMessage(JSON.stringify({status: "signing-failed"}));
                }
              }
          }, false);

          /** Event handlers **/
          signing.on('ready', (event) => {
            console.log('UI is rendered');
            signingProcess = true;
            window.ReactNativeWebView.postMessage(JSON.stringify({status: "Ready", data: event}));
          });
          signing.on('sessionEnd', (event) => {
            console.log('sessionEnd', event);
            window.ReactNativeWebView.postMessage(JSON.stringify({status: "SessionEnd", data: event}));
          });
          $(`#main`).addClass("hide");
          $(`#signing-ceremony`).removeClass("hide");
          signing.mount(`#docusignContainer`);
        } catch (error) {
          console.log("### Error calling docusign.js");
          console.log(error);
          window.ReactNativeWebView.postMessage(JSON.stringify({status: "Error", data: error}));
        }
      })();
    </script>
  </head>
  <body>
    <div id="main">
      <!-- Conteúdo principal -->
    </div>
    <div id="signing-ceremony" class="hide">
      <div class="docusign-agreement-container" id="docusignContainer"></div>
    </div>
  </body>
</html>